{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
  <div class="card p-4 shadow">

    <h3 class="mb-4">Редактировать профиль</h3>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="mb-3">
        <label class="form-label">Username</label>
        {{ forms.username }}
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        {{ forms.email }}
      </div>

      <div class="mb-3">
        <label class="form-label">First name</label>
        {{ forms.first_name }}
      </div>

      <div class="mb-3">
        <label class="form-label">Last name</label>
        {{ forms.last_name }}
      </div>

      <div class="mb-3">
        <label class="form-label">Age</label>
        {{ forms.age }}
      </div>

      <div class="mb-3">
        <label class="form-label">Image</label>
        {{ forms.image }}
      </div>

      <button type="submit" class="btn btn-success">
        Сохранить
      </button>

      <a href="/profile/" class="btn btn-secondary">
        Назад
      </a>

    </form>

  </div>
</div>

{% endblock %}